
{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>米国株取引の始め方・注目銘柄</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{% static 'content.css' %}">
</head>

<body class="nohero">

<header>
	<div class="container">
		<a href="{% url 'top' %}" class="headA">Top</a>

		<nav class="headB">
			<ul>
				<li><a href="{% url 'content' %}">株取引・始め方</a></li>
				<li><a href="{% url 'content1' %}">チャート＆ファンダメンタル分析</a></li>
				<li><a href="{% url 'list' %}">注目銘柄</a></li>
				<li><a href="{% url 'about' %}">サイトについて</a></li>
			</ul>
		</nav>
	</div>
</header>

<article class="post">
	<div class="container">

		<img src={% static 'image/account_opening_M.jpg' %} alt="America">


		<h1>米国株の特徴</h1>

		<h3>①１株から売買可能</h3>
		<p>日本株には単元株制度があるため、100株単位で売買する必要があります。株価4000円の銘柄を売買するときは、40万円（4,000円×100株）を用意しなくてはなりません。</p>
		<p>しかし、アメリカ株には単元株制度がなく、すべての上場株式・ETFが1株単位で売買可能です。</p>
		<p>株価によって最低投資金額は異なりますが、アメリカ株は1株から購入できるので、若い人、少額で投資を始められます。</p>

		<h3>②取引時間は日本だと深夜帯</h3>
		<p>日本とアメリカには時差があるため、アメリカ株の取引時間は日本だと深夜帯になります。</p>
		<p>アメリカ株の取引時間（標準時間）は、日本時間の23：30～6：00（現地時間9：30～16：00）です。また、アメリカでは、3月第2日曜日から11月第1日曜日までサマータイム（夏時間）が実施されるので、サマータイム期間中は日本時間の22：30～5：00が取引時間になります。</p>
		<p>アメリカ株は取引時間が深夜帯になることから、日中は仕事で忙しい人でも帰宅後に取引できるメリットがあります。</p>

		<h3>③ストップ高がない</h3>
		<p>日本株には、株価の急騰や暴落によって市場が混乱しないように、株価の1日の値幅を制限しています。値幅の制限まで上昇することを「ストップ高」、値幅の限界まで下落することを「ストップ安」といいます。</p>
		<p>しかし、アメリカ株には日本株のような値幅制限がないので、状況によっては株価の急騰や暴落の可能性があります。アメリカ株は急騰すれば大きな利益を得られますが、暴落により1日で資産の大半を失うリスクもあることを理解しておきましょう。</p>

		<h3>④高配当であり、配当金に分配頻度が多い</h3>
		<p>日本株の配当金は、一般的に年1回または年2回の頻度で株主に分配されるのに対して、アメリカ株は配当を四半期に1回実施する企業が多いので、年4回配当金を受け取れる可能性があります。</p>
		<p>また、権利日を調整し銘柄を選び投資を行うことで、毎月配当金がもらえるようにすることも可能です。すなわち給料と同じような感覚で配当金を受け取ることができます。</p>

		<h3>④長期的な成長</h3>
		<p>米国株式市場は日本に比べて人口増加、技術革新、効率経営など、企業が成長する要素がたくさんあります。そのため、日本に比べて長期的に株を持っておくことで資産を増すことが可能です。</p>


		<h1>米国株取引を行うネット証券を選ぶ</h1>

		<p>米国株取引を行おうとすると、とりあえずSBI証券と楽天証券を開設する方が多いいと思いますが、私はマネックス証券をお勧めします。その理由としては下記の4つになります。</p>
		<li>米国取引時の取引ツールがシンプルで使いやすい</li>
		<li>米国株の取り扱い銘柄数が一番（銘柄数：3600超）</li>
		<li>取り扱っている金融商品が豊富（ETFなど）</li>
		<li><a href="https://info.monex.co.jp/market-information/tool/us-expectation.html">米国株の財務情報や、スクリーニングが可能なツールがある</a></li>

		<p>下記より、マネックス証券口座開設ができます。また、米国株の取引ができる主要なネット証券３社の比較を示します。</p>

		<h3>①マネックス証券（おすすめ）</h3>
		<p>マネックス証券は、アメリカ株の取扱銘柄数が一番多くサービスが充実しているネット証券です。主要ネット証券で唯一、アメリカ株の時間外取引に対応しているのが特徴です。</p>
		<p>マネックス証券では通常の取引時間に加えて、市場が開く前の1時間半（プレ・マーケット）と市場が閉じた後の4時間（アフター・マーケット）も取引できます。取引時間外の突然のニュースや決算発表にも素早く対応できるので、収益機会を逃しません。</p>
		<p>また、アメリカ株の取引専用のスマートフォンアプリ「トレードステーション米国株」を提供しており、スマホからもアメリカ株の取引が可能です。</p>
		<p><a href="#">アフタ―マーケットでの取引方法について解説</a></p>

		<h3>②SBI証券</h3>
		<p>SBI証券のアメリカ株は、以下3つのサービスを提供しています。</p>
		<li>米国貸株サービス</li>
		<li>米国株式・ETF定期買付サービス</li>
		<li>住信SBIネット銀行との外貨入金サービス</li>
		<p>米国貸株サービスは、保有しているアメリカ株をSBI証券に貸し出すと金利が受け取れるサービスです。貸株中でも配当が受け取れるので、収益機会を増やすことができます。</p>
		<p>米国株式・ETF定期買付サービスは、アメリカ株をあらかじめ設定した日に自動で買付してくれるサービスです。自分で買いどきを判断する必要がないので、手間がかからないのがメリットです。また、利益に対する税金が非課税になるNISA口座にも対応しています。</p>
		<p>住信SBIネット銀行との外貨入出金サービスは、住信SBIネット銀行の外貨預金とSBI証券口座を連携し、米ドルを手数料無料で入出金できるサービスです。</p>

		<h3>③楽天証券</h3>
		<p>楽天証券は、証券口座を開設するだけですぐにアメリカ株を売買できるのが特徴です。取引ツール「マーケットスピード」に対応しており、10種類以上のテクニカルチャートなど豊富なツールを使いながらアメリカ株を売買できます。</p>


		<h1>米国株の購入方法</h1>
		<p>マネックス証券における米国株の購入方法について説明します。私自身、最初始めた際色々と困ったことがあったので、迷わないために購入方法の流れを解説します。</p>

		<h3>①外国株の口座開設が必要</h3>
		<p>アメリカ株を購入するには、証券会社で外国株の口座を開設する必要があります。証券口座を開設していても、別に手続きが必要な証券会社が多いです。</p>
		<p>ネット証券なら、ログイン後画面から外国株の口座開設申し込みが可能で、手続きはオンラインで完結します。また、これから証券口座を開設する場合は、外国株の口座も同時に開設できます。</p>

		<h3>②日本円を総合取引口座から外国口座へ移動</h3>
		<p>日本円を日本口座（総合取引口座）から開設した外国口座に移す必要がある。その後、両替を行う。</p>

		<h3>③日本円から米ドルに両替</h3>
		<p>アメリカ株は米ドルでの取引なので、日本円から米ドルに両替する必要があります。ネット証券では証券口座のログイン後の画面で、米ドルへ両替できます。米ドルの両替時には為替手数料がかかることに注意しましょう。</p>
	</div>
</article>
</body>

<footer>
	<div class="container">
		<p>Copyright 🄫 beistock-kabu 2020</p>
	</div>

</footer>






</html>