
{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>米国株取引の始め方・注目銘柄</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{% static 'list.css' %}">
</head>

<body class="nohero">

<header>
	<div class="container">
		<a href="{% url 'top' %}" class="headA">Top</a>

		<nav class="headB">
			<ul>
				<li><a href="{% url 'content' %}">株取引・始め方</a></li>
				<li><a href="{% url 'content1' %}">チャート＆ファンダメンタル分析</a></li>
				<li><a href="{% url 'list' %}">注目銘柄</a></li>
				<li><a href="{% url 'about' %}">サイトについて</a></li>
			</ul>
		</nav>
	</div>
</header>

<section class="listA">
<div class="container">
	<article>
	<a href="{% url 'inseego' %}">
		<div class="photo" style=" background-image: url(static/image/hydrogen.jpg); "></div>
		<div class="text">
			<h2>Plug Power (PLUG)</h2>
			<p>燃料電池システムの設計・開発・製造・商用化に集中する代替エネルギー技術の提供業者...</p>
			<p>2020/07/26</p>
		</div>
	</a>
	</article>

	<article>
	<a>
		<div>
		</div>
		<div class="text">
			<h2></h2>
			<p></p>
			<p></p>
		</div>
	</a>
	</article>

	<article>
	<a>
		<div>
		</div>
		<div class="text">
			<h2></h2>
			<p></p>
			<p></p>
		</div>
	</a>
	</article>

	<article>
	<a>
		<div>
		</div>
		<div class="text">
			<h2></h2>
			<p></p>
			<p></p>
		</div>
	</a>
	</article>

</div>
</section>

</body>

<footer>
	<div class="container">
		<p>Copyright 🄫 beistock-kabu 2020</p>
	</div>
</footer>


</html>